/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prosto One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap'); */